li{
    float:left;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

li:hover{
    color: rgb(46, 204, 113);
}

.colored_text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: large;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 83, 69);
}

#navbar{
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    background-color: rgb(11, 83, 69);
}

#intro_container{
}

#photo_container{
    background-color:rgb(46, 204, 113); 
    height:20em; 
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
}

#image{
    height:15em; 
    width:15em;
    border-radius:50%;
}

i{
    font-size: 2em;
}

.styled-grid{
    padding:12px 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    margin:0.15em 0.15em;
    box-shadow: 0 0 0.2em rgba(0,0,0,0.5);
}

.header-grid{
    background-color: rgb(11, 83, 69);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}