
li{
    float:left;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

li:hover{
    color: rgb(46, 204, 113);
}

.colored_text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: large;
    color: white;
}

.project_text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

.project_titles{
    color: rgb(11, 83, 69);
    font-size: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 83, 69);
}

#navbar{
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    width:100%;
    background-color: rgb(11, 83, 69);
}

#photo_container{
    background-color:rgb(46, 204, 113); 
    height:20em; 
    width:100%;
    margin-top: 3.8em;
    display:grid;
    grid-template-columns: 50% 50%;
    /* background-image: url(images/city.jpg); */
    /* background-size: cover; */
    /* background-blend-mode: multiply; */
}

#project_container{
    height:20em; 
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
}

.project-animation-right{
    z-index: -1;
    animation: appear_right 1.5s 1 ease-out;
}

.project-animation-bottom{
    z-index: -1;
    animation: appear_bottom 1.5s 1 ease-out;
}

@keyframes appear_right{
    0% {opacity: 0; transform: translate(-200px, 0px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
}

@keyframes appear_bottom{
    0% {opacity: 0; transform: translate(0px, 200px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
}

.project-animation-left{
    z-index: -1;
    animation: appear_left 1.5s 1 ease-out;
}

@keyframes appear_left{
    0% {opacity: 0; transform: translate(200px, 0px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
}

.projects{
    z-index: -1;
}

#image{
    height:15em; 
    width:15em;
    border-radius:50%;
}

img{
    border-radius: 50%;
}

.project_image{
    height:20em; 
    width:20em;
    border-radius:50%;
}

.right{
    grid-column-start:2;
    grid-column-end:3;
    display: flex;
    justify-content: left;
    align-items: center;
}
.right_image{
    padding-left:5em;
    padding-bottom: 1.5em;
    padding-top:1.5em;
}

.left{
    grid-column-start:1;
    grid-column-end:2;
    display: flex;
    justify-content: right;
    align-items: center;
}
.left_image{
    padding-right:5em;
    padding-bottom: 1.5em;
    padding-top:1.5em;
}

i{
    font-size: 2em;
}

.styled-grid{
    padding:12px 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    margin:0.15em 0.15em;
    box-shadow: 0 0 0.2em rgba(0,0,0,0.5);
}

.header-grid{
    background-color: rgb(11, 83, 69);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    padding: 30px;
    color: rgb(11, 83, 69)
}
#text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    width: 60%;
    padding: 30px;
    text-align: justify;
}

.download:hover{
    background-color: rgb(11, 83, 69);
    color: white;
}
.download{
    height: 3.5em;
    width: 10em;
    border: 2px;
    border-style: solid;
    border-color: rgb(11, 83, 69);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#download_button{
    display: flex; 
    text-decoration: none;  
    align-items: center;
    justify-content: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
    color: black;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}